@page "/"
@namespace SuperNova.Pages
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>SuperNova</title>
    <base href="~/" />
    <link rel="stylesheet" href="css/bootstrap/bootstrap.min.css" />
    <link href="css/site.css" rel="stylesheet" />
</head>
<body>
    <app>
        <component type="typeof(App)" render-mode="ServerPrerendered" />
    </app>

    <div id="blazor-error-ui">
        <environment include="Staging,Production">
            An error has occurred. This application may no longer respond until reloaded.
        </environment>
        <environment include="Development">
            An unhandled exception has occurred. See browser dev tools for details.
        </environment>
        <a href="" class="reload">Reload</a>
        <a class="dismiss">🗙</a>
    </div>

    <script src="_framework/blazor.server.js"></script>
    <script src="_content/Microsoft.AspNetCore.ProtectedBrowserStorage/protectedBrowserStorage.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    
    <!-- Generic Controls -->

    <script>

        var Generic = {}        

        Generic.ShowMessageDialog = function (title, message) {            
            $("#Generic-Message-Dialog").show();
            $("#Generic-Message-Dialog-Title").html(title);
            $("#Generic-Message-Dialog-MessageBody").html(message);            
        }

        Generic.HideMessageDialog = function () {
            $("#Generic-Message-Dialog-Message").html("");            
            $("#Generic-Message-Dialog").hide();
        }

        // Sample on how to use JS and Call Back with Result

        //var SendJSMessage = function (message) {
        //    Generic.ShowMessageDialog(message);
        //    return "success";
        //}

        //var getString = await JSRuntime.InvokeAsync<string>("SendJSMessage", "This Application was developed by Shuhab Islam, chistiya@gmail.com");

    </script>

    <!-- Account Page -->

    <script>
        var Account = {}        

        Account.Initialize = function () {
            Account.$SearchAccount = $("#txtSearchAccount");
            Account.$UpdateDialog = $("#Account-Update-Dialog");
        }

        Account.GetSearchValue = function () {
            return $("#txtSearchAccount").val();
        }

    </script>

</body>
</html>