<div class="modal" id="Generic-Message-Dialog" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="Generic-Message-Dialog-Title" ></h5>
                <button type="button" class="close" onclick="Generic.HideMessageDialog()" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="Generic-Message-Dialog-MessageBody">
            </div>
            <div class="modal-footer">                
                <button type="button" onclick="Generic.HideMessageDialog()" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

@code {

    //protected override async Task OnInitializedAsync()
    //{
    //    await JSRuntime.InvokeVoidAsync("Generic.Initialize");
    //}
}
